<div class="bloc_projet">
    <p class="nom_proj">{{projet|upper}}</p>
    {% include 'assets/barre_av_mini.html' %}
    <form action="{% url 'gestion:detail' projet.code_campagne %}">
      <button class="btn btn-size btn-my-color ajout_proj m-0 me-2 mb-2">
        Détails
      </button> 
    </form>
    <form method="post" action="{% url 'gestion:home' %}" {% if projet.chef_projet != user %} style='visibility:hidden;' {% endif %}>
      {% csrf_token %}
      {% if projet.en_cours %}
        <button class="btn btn-size  btn-my-color ajout_proj m-0 mb-2" type="submit" name="projet_fini" value="{{projet.id}}" >
            Projet Fini
        </button> 
      {% else %}
        <button class="btn btn-size btn-my-color ajout_proj m-0 mb-2" type="submit" name="projet_reprise" value="{{projet.id}}" >
            Reprendre
        </button> 
      {% endif %}
    </form>
  </div>  