{% extends 'base.html' %}
{% block content %}
<!-- section nouveau projet -->
<a href="{% url 'gestion:new' %}" class="ajout_proj">Ajouter un nouveau projet</a>

<!-- Projets en cours -->
  <section class="projets_conteneur">
    <h2 class="titre_conteneur">Projets en cours</h2>
    {% for chef in chefs_en_cours %}
    <h3 class="titre_chef">{{chef}}</h3>
      {% for projet in projets_en_cours %}
        {% if projet.chef_projet == chef %}
          <!-- bloc projet -->
          <div class="bloc_projet">
            <p>{{projet.client_principal|upper}}</p>
            <p>{{projet.code_campagne}}</p>
            {% include 'gestion/barre_av_mini.html' %}
            <a href="{% url 'gestion:detail' projet.code_campagne %}">Détail du Projet</a>
            {% if chef == user %}
            <form class="form-inline" method="post" action="{% url 'gestion:en_cours' %}">
              {% csrf_token %}
              <button role='button' type="submit" name="projet_fini" value="{{projet.id}}" >Projet Fini</button> 
            </form>
            {% endif %}
          </div>  
        {% endif %} 
      {% endfor %}
    {% endfor %}
  </section>
{% endblock %}