{% extends 'base.html' %}
{% block content %}
<!-- section nouveau projet -->
<form action="{% url 'gestion:new' %}">
  <button class="btn  btn-my-color ajout_proj">
    + Ajouter un nouveau projet
  </button> 
</form>
<!-- Projets finis -->
  <section class="projets_conteneur">
    <h2 class="titre_conteneur">Projets finis</h2>
    {% for chef in chefs_finis %}
    <h3 class="titre_chef">{{chef}}</h3>
      {% for projet in projets_finis %}
        {% if projet.chef_projet == chef %}
          {% include 'assets/bloc_projet.html' %} 
        {% endif %} 
      {% endfor %}
    {% endfor %}
  </section>
{% endblock %}