{% extends 'base.html' %}
{% block content %}

<h1 class="bonjour">Bonjour {{ user.username }}!</h1>
<!-- section nouveau projet -->
<form action="{% url 'gestion:new' %}">
  <button class="btn  btn-my-color ajout_proj">
    + Ajouter un nouveau projet
  </button> 
</form>

<!-- Projets en cours -->
  <section class="projets_conteneur">
    <h2 class="titre_conteneur">Projets en cours</h2>
    <h3 class="titre_chef">{{user}}</h3>
      {% for projet in projets_en_cours %}
        {% if projet.chef_projet == user %}
          <!-- bloc projet -->
          <div class="bloc_projet">
            <p class="nom_proj">{{projet|upper}}</p>
            {% include 'gestion/barre_av_mini.html' %}
            <form action="{% url 'gestion:detail' projet.code_campagne %}">
              <button class="btn btn-size btn-my-color ajout_proj m-0 me-2 mb-2">
                Détails
              </button> 
            </form>
            <form method="post" action="{% url 'gestion:home' %}">
              {% csrf_token %}
              <button class="btn btn-size  btn-my-color ajout_proj m-0 mb-2" type="submit" name="projet_fini" value="{{projet.id}}" >
                Projet Fini
              </button> 
            </form>
          </div>  
        {% endif %} 
      {% endfor %}
  </section>

<!-- Projets finis -->
<section class="projets_conteneur">
  <h2 class="titre_conteneur">Projets finis</h2>
  <h3 class="titre_chef">{{user}}</h3>
    {% for projet in projets_finis %}
      {% if projet.chef_projet == user %}
        <!-- bloc projet -->
        <div class="bloc_projet">
          <p class="nom_proj">{{projet|upper}}</p>
          {% include 'gestion/barre_av_mini.html' %}
          <form action="{% url 'gestion:detail' projet.code_campagne %}">
            <button class="btn btn-size btn-my-color ajout_proj m-0 me-2 mb-2">
              Détails
            </button> 
          </form>
          <form method="post" action="{% url 'gestion:home' %}">
            {% csrf_token %}
            <button class="btn btn-size btn-my-color ajout_proj m-0 mb-2" type="submit" name="projet_reprise" value="{{projet.id}}" >
              Reprendre
            </button> 
          </form>
        </div>  
      {% endif %} 
    {% endfor %}
</section>
{% endblock %}