{% extends 'base.html' %}
{% block content %}

<h1 class="bonjour">Bonjour {{ user.username }}!</h1>
<!-- section nouveau projet -->
<a href="{% url 'gestion:new' %}" class="ajout_proj">Ajouter un nouveau projet</a>

<!-- Projets en cours -->
  <section class="projets_conteneur">
    <h2 class="titre_conteneur">Projets en cours</h2>
    <h3 class="titre_chef">{{user}}</h3>
      {% for projet in projets_en_cours %}
        {% if projet.chef_projet == user %}
          <!-- bloc projet -->
          <div class="bloc_projet">
            <p>{{projet|upper}}</p>
            {% include 'gestion/barre_av_mini.html' %}
            <a href="{% url 'gestion:detail' projet.code_campagne %}">Détail du Projet</a> 
            <form class="form-inline" method="post" action="{% url 'gestion:home' %}">
              {% csrf_token %}
              <button role='button' type="submit" name="projet_fini" value="{{projet.id}}" >Projet Fini</button> 
            </form>
          </div>  
        {% endif %} 
      {% endfor %}
  </section>

<!-- Projets finis -->
<section class="projets_conteneur">
  <h2 class="titre_conteneur">Projets finis</h2>
  <h3 class="titre_chef">{{user}}</h3>
    {% for projet in projets_finis %}
      {% if projet.chef_projet == user %}
        <!-- bloc projet -->
        <div class="bloc_projet">
          <p>{{projet|upper}}</p>
          {% include 'gestion/barre_av_mini.html' %}
          <a href="{% url 'gestion:detail' projet.code_campagne %}">Détail du Projet</a>
          <form class="form-inline" method="post" action="{% url 'gestion:home' %}">
            {% csrf_token %}
            <button role='button' type="submit" name="projet_reprise" value="{{projet.id}}" >Reprendre le projet</button> 
          </form>
        </div>  
      {% endif %} 
    {% endfor %}
</section>
{% endblock %}