{% extends 'base.html' %}
{% block content %}
<h2 class="title_project">{{projet}} </h2>

<!-- barre d'avancement -->
<div class="bloc_barre_av large">
    <figure {% if projet.has_objectif %} class='barre_av large' {% else %} class='barre_av large no_objectif' {% endif %}>
        {% if projet.nb_jour_realise > 0 %}
            <figure class="barre_in" style="width: calc({{projet.nb_jour_realise}}* 100% / {{projet.nb_jour_total}})">
                {% widthratio projet.nb_jour_realise 1 100 as pourcent %}{% widthratio pourcent projet.nb_jour_total 1 %} %
            </figure>
        {% endif %}
    </figure>
    {% if projet.has_objectif %}            
        <figure class="barre_av large objectif">
            {% if projet.opportunite.lead > 0 %}
            <figure class="barre_in" style="width: calc({{projet.opportunite.lead}}* 100% / {{projet.objectif}})">
                {% widthratio projet.opportunite.lead 1 100 as pourcent %}{% widthratio pourcent projet.objectif 1 %} %
            </figure>
            {% endif %}
        </figure>
    {% endif %}
</div>
<div>
    <p>{{projet.nb_jour_realise}}/{{projet.nb_jour_total}}</p>
    {% if projet.has_objectif %}            
    <p>{{projet.opportunite.lead}}/{{projet.objectif}}</p>
    {% endif %}
</div>

<!-- Corps -->
{% if  project.en_cours%}
<h2>Projet En Cours</h2>
{% else %}
<h2>Projet Fini</h2>
{% endif %}

<section class="corps_projet">
    <!-- Bloc To Do -->
    <div class="bloc_to_do">
    <h2>To Do List</h2> 
    <p>Proposition : {{to_do.proposition}} 
        <br>Commande : {{to_do.commande}}
        <br>Brief de démarrage : {{to_do.brief_demarrage}}
        <br>Compte-rendu du brief : {{to_do.cr_brief}}
        <br>Script : {{to_do.script}}
        <br>Fichier : {{to_do.fichier}}
        <br>Reporting intermédiaire : {{to_do.rep_int}}
        <br>Reporting final : {{to_do.rep_final}}
        <br>Facture : {{to_do.facture}}
        <br>Règlement : {{to_do.reglement}}
        <br>Commentaires: {{to_do.commentaire}}
        </p>
    </div>

    <!-- Bloc info -->
    <div class="bloc_info">
        <h2>Informations</h2>
        <p>Chef de projet : {{projet.chef_projet}} 
            {% if projet.client_principal == 'F' %}
            <br>Client Principal : {{projet.fournisseur}}
            {% elif projet.client_principal == 'G' %}
            <br>Client Principal : {{projet.grossiste}}
            {% elif projet.client_principal == 'P' %}
            <br>Client Principal : {{projet.partenaire}}
            {% else %}
            <br>Client Principal : Erreur sur le projet
            {% endif %}
            <br>Fournisseur : {{projet.fournisseur}}
            {% if projet.payeur == 'F' %}$$${% endif %}
            <br>Grossiste : {{projet.grossiste}}
            {% if projet.payeur == 'G' %}$$${% endif %}
            <br>Partenaire : {{projet.partenaire}}
            {% if projet.payeur == 'P' %}$$${% endif %}
            <br>Code Campagne : {{projet.code_campagne}}
            <br>Code Kammi : {{projet.code_kammi}}
            <br>Montant : {{projet.prix}} €
            <br>Date de début : {{projet.date_debut}}
            <br>Date de fin : {{projet.date_fin_prevue}}
            <br>Liste des Téléacteurs : 
            <ul>
            {% for teleacteur in projet.teleacteurs.all %}
                <li>{{teleacteur}}</li>
            {% empty %} 
                <li>Pas de téléacteurs pour le moment sur le projet</li>
            {% endfor %}
            </ul>
        </p>    
    </div>


    <!-- Bloc Résultats -->
    <div class="bloc_resultats">
        <h2>Résultats</h2> 
        <p>LEADS : {{projet.opportunite.lead}}
        <br>NURSERING : {{projet.opportunite.nursering}}
        <br>FICHES INFO : {{projet.opportunite.fiche_info}}
        <br>Commentaires : {{projet.opportunite.commentaire}}
        </p>
    </div>
</section>

{% endblock  %}