{% extends 'base.html' %}
{% block content %}
<!-- Projets en cours -->
  <h2 class="m-3">Téléacteurs</h2>
  <section class="tele_section">
    {% for tele in teleacteurs %}
      <div class="tele_container">
        <h2>{{tele}}</h2> 
        <div class="tele_content">
          <h3>En Cours</h3>
          <div class="tele_project">
            <ul>
            {% for projet in tele.projets.all %}
                {% if projet.en_cours %}
                    <!-- Projets en cours du teleacteur -->
                    <li>{{projet}}</li>
                {% endif %}
            {% endfor %}
            </ul> 
          </div>

          <h3>Finis</h3>
          <div class="tele_project">
            <ul>
            {% for projet in tele.projets.all %}
                {% if not projet.en_cours %}

                <!-- Voir si cette partie est intéressante -->
                    <!-- Projets en cours du teleacteur -->
                    <li>{{projet}}</li>
                {% endif %}
            {% endfor %}
            </ul> 
          </div>
        </div>       
        
      </div>
   {% endfor %}
  </section>
{% endblock %}