/*========= Imports Bootstrap =========*/
/* @import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities"; */

/*========= Google fonts =========*/

/*========= Variables CSS =========*/

:root {
    /* Color */
    --backgr-color: ghostwhite;
    --backgr-nav-color: rgba(47,153,232,255);
    --nav-color: white;

    /* Font size */
    --text-size: 1em;

    /* Size of elements */
}

/*========= Comportement de base =========*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--backgr-color) ;
}

a {
    text-decoration: none;
}

/*========= En-tete et Navbar =========*/
.big_title {
    text-align: center;
    align-self: center;
    width: 20vw;
}

.en_tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
    height: 60px;
    background-color: var(--backgr-nav-color);
    color: var(--nav-color);
}

.en_tete a {
    color: var(--nav-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/*========= Corps =========*/


.bonjour {
    font-size: 1.4em;
}

.projets_conteneur {
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
}

.bloc_projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloc_barre_av {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 0px 20px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    width: 30vw;
}
.barre_av {
    width: 100%;
    height: 20px;
    background-color: rgb(113, 114, 116);
    margin: 0;
}


.barre_av.objectif {
    height: 10px;
}

.barre_in {
    position: relative;
    left: 0;
    height: 100%;
    background-color: rgba(47,153,232,255);
    z-index: 1;
    margin: 0;
    max-width: 100%;
    border-right: 2px solid black;
    border-radius: 0 20px  20px 0;
}
.objectif .barre_in{
    background-color: ghostwhite;
}

.title_project {
    text-align: center;
}

.bloc_barre_av.large {
    width: 80%;
    margin: auto;
}

.barre_av.large {
    height: 30px;
}

.barre_av.large.objectif {
    height: 20px;
}

.bloc_barre_av p {
    margin: 0;
}

.titre_chef {
    margin-left: 30px;
}

.section_creation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.objectif_form {
    display: none;
}

.new_form {
    margin-left: 100px;
}

/*========= Page de détail des projets =========*/

.corps_projet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bloc_to_do {
    width: 65%;
}

.bloc_info {
    width: 25%;
}

.bloc_resultats {
    width: 40%;
}