/*========= Imports Bootstrap =========*/
/* @import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities"; */

/*========= Google fonts =========*/

/*========= Variables CSS =========*/

:root {
    /* Color */
    --backgr-color: ghostwhite;
    --backgr-nav-color: rgba(47,153,232,255);
    --nav-color: white;
    --barre-av:rgb(140, 196, 251);
    --barre-in:rgba(47,153,232,255);
    --barre-in-obj:ghostwhite;

    /* Font size */
    --text-size: 1em;

    /* Size of elements */
    --height-nav: 60px;

    
}

.btn-my-color {
    --bs-btn-bg: ghostwhite;
    --bs-btn-border-color: rgba(47,153,232,1);
    --bs-btn-border-width: 2px;
    --bs-btn-color: rgba(47,153,232,1);
    --bs-btn-hover-bg: rgb(228, 228, 234);
    --bs-btn-hover-border-color: rgba(47,153,232,255);
    --bs-btn-hover-color: rgba(47,153,232,1);
}

.accordion {
    --bs-accordion-btn-color: black;
    --bs-accordion-btn-bg: ghostwhite;
    --bs-accordion-active-color: ghostwhite;
    --bs-accordion-active-bg: black;
}

/*========= Comportement de base =========*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--backgr-color) ;
}

a {
    text-decoration: none;
}

button {
    margin: 30px;
}

li {
    list-style-type: none;
}

/*========= Log In =========*/
.login_form, .search_form {
    min-width: 450px;
}

.body_height {
    height: calc(100vh - var(--height-nav));
}

/*========= En-tete et Navbar =========*/
.big_title {
    text-align: center;
    align-self: center;
    width: 20vw;
}

.en_tete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
    height: var(--height-nav);
    background-color: var(--backgr-nav-color);
    color: var(--nav-color);
}

.en_tete a {
    color: var(--nav-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/*========= Corps =========*/


.bonjour {
    font-size: 1.4em;
    margin: 20px 0 0 20px;
}

.ajout_proj {
    margin: 20px 0 20px 20px;
}

.projets_conteneur {
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 0 20px 20px 20px;
}

.bloc_projet {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nom_proj {
    width: 150px;
    margin: 0;
}

.bloc_barre_av {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 0px 20px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    width: 30vw;
}

.barre_av {
    width: 100%;
    height: 10px;
    background-color: var(--barre-av);
    margin: 0;
}

.barre_av.no_objectif {
    height: 20px;
}

.barre_in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    left: 0;
    height: 100%;
    background-color: var(--barre-in);
    z-index: 1;
    margin: 0;
    max-width: 100%;
    border-right: 2px solid black;

}
.objectif .barre_in{
    background-color: var(--barre-in-obj);
}




.bloc_barre_av.large {
    width: 80%;
    margin: auto;
    border-radius: 50px;
}

.barre_av.large {
    height: 25px;
}


.bloc_barre_av p {
    margin: 0;
}

.ratio {
    font-size: 0.8rem;
    margin: 0;
    width: 50px;
}

.btn-size {
    width: 100px;
}

.titre_chef {
    margin-left: 8vw;
    font-size: 1.5rem;
}

.objectif_form {
    display: none;
}

.new_form {
    margin-left: 5%;
}

.field_form {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.field_label {
    width: 150px;
}

.field_form + a {
    margin-left: 150px;
    color: var(--backgr-nav-color);
}

.field_content {
    flex: 1;
    justify-content: flex-end;
}

.title_creation {
    margin: 50px 0 20px 0;
}

/*========= Page de détail des projets =========*/
.title_project {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

.title_en_cours {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 50px 10px 10%;
    width: auto;
    background-color: rgb(0, 255, 213);
    font-size: 1.5rem;
}

.title_fini {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 50px 10px 10%;
    width: auto;
    background-color: rgb(244, 89, 65);
    font-size: 1.5rem;
}

.title_and_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_and_icon h2 {
    margin: 0;
}


.title_and_icon svg {
    margin-left: 20px;
}

.corps_projet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc_resultats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.info {
    margin: 20px 0 0 50px;
}

/*========= Téléacteurs =========*/
.tele_section {
    display: flex;
    flex-direction: row;
}

.tele_container {
    margin: 20px;
}

.tele_content {
    margin-left: 30px;
}

.tele_project {
    font-size: 1rem;
}


.accordion-button {
    font-size: 1.3rem;
    margin: 0;
}

/*========= Recherche =========*/

.search_form {
    margin: 50px 0;
}

.help_search {
    margin-left: 100px;
} 